<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group" {:input('?custom_id')?'visibility: hidden':''} >
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_id" data-rule="required" data-source="custom/mycustom/index" data-field="custom_full_name" data-primary-key="custom_id" class="form-control selectpage" name="row[custom_id]" type="text" value="{$custom_id|htmlentities}">
        </div>
    </div>    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_sdetail_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_sdetail_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[custom_sdetail_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_sdetail_product')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_sdetail_product" class="form-control" name="row[custom_sdetail_product]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_sdetail_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_sdetail_price" class="form-control" name="row[custom_sdetail_price]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_sdetail_unit')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_sdetail_unit" data-source="base/unit/index" data-field="unit" data-primary-key="unit" class="form-control selectpage" name="row[custom_sdetail_unit]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_sdetail_number')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_sdetail_number" class="form-control" name="row[custom_sdetail_number]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_sdetail_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_sdetail_amount" readonly="readonly" class="form-control" name="row[custom_sdetail_amount]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_sdetail_deadline_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_sdetail_deadline_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[custom_sdetail_deadline_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_sdetail_remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-custom_sdetail_remark" class="form-control " rows="5" name="row[custom_sdetail_remark]" cols="50"></textarea>
        </div>
    </div>
    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
