<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group" {:input('?custom_id')?'visibility: hidden':''} >
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_id" data-rule="required" data-source="custom/mycustom/index" data-field="custom_full_name" data-primary-key="custom_id" class="form-control selectpage" name="row[custom_id]" type="text" value="{$custom_id|htmlentities}">
        </div>
    </div>    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_connect_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_connect_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[custom_connect_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_connect_active_phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_connect_active_phone" class="form-control" name="row[custom_connect_active_phone]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_connect_content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-custom_connect_content" class="form-control editor" rows="5" name="row[custom_connect_content]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_connect_promotion')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_connect_promotion" class="form-control selectpage" data-source='base/promotion/index' data-field = 'promotion' data-primary-key='promotion' name="row[custom_connect_promotion]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_connect_rating')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_connect_rating" class="form-control selectpage" data-source='base/rating/index' data-field='rating' data-primary-key='rating' name="row[custom_connect_rating]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_connect_communic')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_connect_communic" data-source = "base/communic/index" data-field = "communic" data-primary-key = "communic" class="form-control selectpage" name="row[custom_connect_communic]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_connect_feedback')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-custom_connect_feedback" class="form-control " rows="5" name="row[custom_connect_feedback]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_connect_person')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_connect_person" class="form-control" name="row[custom_connect_person]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_operation_person')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_operation_person" class="form-control" name="row[custom_operation_person]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_adjust_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_adjust_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[custom_adjust_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_after_sale')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-custom_after_sale" class="form-control " rows="5" name="row[custom_after_sale]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_adjust_person')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_adjust_person" class="form-control" name="row[custom_adjust_person]" type="text">
        </div>
    </div>
   
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
