<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group" {:input('?custom_id')?'visibility: hidden':''} >
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_id" data-rule="required" data-source="custom/mycustom/index" data-field="custom_full_name" data-primary-key="custom_id" class="form-control selectpage" name="row[custom_id]" type="text" value="{$custom_id|htmlentities}">
        </div>
    </div>    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_payment_content1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_payment_content1" data-rule="required" data-source="base/paymentcontent/index" data-field="payment_content" data-primary-key="payment_content" class="form-control selectpage" name="row[custom_payment_content1]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_payment_paytime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_payment_paytime" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[custom_payment_paytime]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_payment_content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_payment_content" class="form-control" name="row[custom_payment_content]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_payment_account')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_payment_account" class="form-control" name="row[custom_payment_account]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_payment_bidding')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_payment_bidding" class="form-control" name="row[custom_payment_bidding]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_payment_handler')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_payment_handler" class="form-control" name="row[custom_payment_handler]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_payment_method')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_payment_method" data-source = "base/paymentmethod/index" data-field = "payment_method" data-primary-key = "payment_method" class="form-control selectpage" name="row[custom_payment_method]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_payment_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_payment_type" data-source = "base/paymenttype/index" data-field = "payment_type" data-primary-key = "payment_type" class="form-control selectpage" name="row[custom_payment_type]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_payment_person')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_payment_person" class="form-control" name="row[custom_payment_person]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_payment_remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-custom_payment_remark" class="form-control " rows="5" name="row[custom_payment_remark]" cols="50"></textarea>
        </div>
    </div>
    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
